.container {
    display: grid;
    max-width: 1000px;
    max-height: 2000px;
    position: relative;
    background:-webkit-gradient(linear, 0% 0%, 100% 0%,from(#d55db9), to(#a70bef));
    margin: auto;
    gap: 10px;
    grid-template-areas: "header header"
                         "nav nav"
                         "special special"
                         "offer offer"
                         "FeaturedTaco FeaturedTaco"
                         "footer footer";
    grid-template-columns: 900px;
    grid-template-rows:50px 50px 300px 300px 300px 300px;
  }
  
  h1, h2 {
    font-family: monospace;
    text-align: center;
  }
  
  header {
    background-color: dodgerblue;
    grid-area: header;
  }
  
  nav {
    background-color: rgb(209, 209, 13);
    grid-area: nav;
  }

  footer h5{
    text-align: center;
  }
.special {
    background-color: dodgerblue;
    display: grid;
    position: relative;
    gap: 10px;
    /* grid-template-areas: "terryT sp1"
                         "terryT sp2";
    grid-template-columns: 600px 200px;
    grid-template-rows:50px 50px; */
    grid-row-start: repeat(2,50px);
    grid-template-columns: 2fr 1fr;
}
.special img{
    width: 600px;
    height: 300px;
}
ul {
    margin: 15px auto;
    text-align:center;
  }
 li{
    display: inline-block;
    text-transform: uppercase;
  }

  .terryT{
  font-size: 14px;
  font-style: bold;
  line-height: 20px;
  position:relative;
  top: -190px;
  left: 50px;
  width: 120px;
  height: 30px;
  background-color: rgb(209, 209, 13);
  }

  a:link {
    text-decoration: none;
  }

  .offer div{
    background-color: aliceblue;
    display: inline-block;
    float: left;
    width:200px;
    height: 300px;
    gap: 10px;
  }

  .FeaturedTaco{
    background-color: aliceblue;
  }

  footer img{
    width: 100px;
    height: 100px;
    gap: 20px;
  }